 <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Edit Team
      </h1>
      <ol class="breadcrumb">
        <li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Edit Team</li>
      </ol>
    </section>

 			<!-- Main content -->
    <section class="content">

	  <div class="box box-primary" ng-cloak class="md-inline-form" ng-controller="EditTeamController" ng-init="initializeTeamPage()">
	
		<form name="teamSetupForm" id="teamSetupForm">
			<md-content layout-padding>	
		        <div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>
			           	<label translate>Team Name</label>
			           	<input ng-model="teamUpdateRequest.teamName" name="teamName" required />
			           	<span ng-show="teamSetupForm.teamName.$dirty"> 
							<span ng-show="teamSetupForm.teamName.$error.required">
								<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
							</span>
						</span>			       
			         </md-input-container>
			   </div>
			    <div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>			           	
			           	<md-switch ng-model="teamUpdateRequest.recordStatus" aria-label="Active Status"  
			           	    ng-true-value="'A'" ng-false-value="'I'" class="md-warn" ng-change="setValueRecordStatus(teamUpdateRequest.recordStatus)">
			           	   <label translate>Active Status : {{activeStatus}}</label>
			           	</md-switch>
			         </md-input-container>
		        </div>
		        
		        
		        <div layout-gt-sm="row">
		        	<md-button class="md-raised md-warn" ng-click="exitForm()">Exit</md-button>
		        	<md-button class="md-raised md-warn" ng-click="resetForm()">Reset</md-button>
		        	<md-button class="md-raised md-primary" ng-click="updateTeam()">Update</md-button>
		        </div>
		        
		        
	        </md-content>
       	</form>
	</div>

    </section>
<!-- /.content -->