<section class="content">
<div class="resetpassword-box" class="md-inline-form" ng-controller="ResetPasswordController">
	<div class="login-box-body">
		<div class="head"><label translate>usrmgt.reset_password.label.reset_password</label></div>
		<form role="form" name="resetPwForm" id="login-form" onsubmit="return false" novalidate>
		    
		    <div layout-gt-sm="row">
		         <md-input-container class="md-block" flex-gt-sm>
		           	<label translate>usrmgt.reset_password.label.user_name</label>
		           	<input ng-model="resetPasswordRequest.userName" name="userName" required />
		           	<span ng-show="resetPwForm.userName.$dirty"> 
						<span ng-show="resetPwForm.userName.$error.required">
							<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
						</span>
					</span>			       
		         </md-input-container>
		     </div>
			
			<div layout-gt-sm="row">
		         <md-input-container class="md-block" flex-gt-sm>
		           	<label translate>usrmgt.reset_password.label.email</label>
		           	<input ng-model="resetPasswordRequest.email" name="email" required ng-pattern="/^.+@.+\..+$/" />
		           	<span ng-show="resetPwForm.email.$dirty"> 
						<span ng-show="resetPwForm.email.$error.required">
							<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
						</span>
						<span ng-show="resetPwForm.email.$error['pattern']">
							<span class="md-input-validation-message" translate>usrmgt.security_user.validation.message.EMAIL_FORMAT</span>
						</span>	
										
					</span>	
		         </md-input-container>
	        </div>
			
	        <div layout-gt-sm="row">
		         <md-input-container class="md-block" flex-gt-sm>
		           	<div captcha options="captchaOptions"></div>	       
		         </md-input-container>
	        </div>
			
			<div layout-gt-sm="row">
				<input type="button" class="login-btn" value="Reset Password" ng-click="resetPassword()" ng-disabled="!resetPwForm.$valid">
			    <md-tooltip>
			    	<span ng-show="!resetPwForm.$valid">Fill user name and email!</span>
			    	<span ng-show="resetPwForm.$valid">Reset Password</span>
		  		</md-tooltip>
		  	</div>
		  	<div layout-gt-sm="row">
		  		<input type="button" class="login-btn" value="Cancel" ng-click="cancel()" />
		  	</div>
		  	
		</form>
	</div>
</div>
</section>
<!-- /container -->