<section class="content">
<div class="login-box" style="width: 360px;" class="md-inline-form" ng-controller="SignInController">
	<div class="login-box-body">
		<div class="head">welcome!</div>
		<form role="form" name="userForm" id="login-form" onsubmit="return false" novalidate>
			<div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>
			           	<label translate>usrmgt.sign_in.label.USERNAME</label>
			           	<input type="text" ng-model="user.userName" name="userName" required />
						  <span ng-show="userForm.userName.$error.required && userForm.userName.$touched"class="error-messages" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
			         </md-input-container>
		     </div>
		     	<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>  
				<label translate>usrmgt.sign_in.label.PASSWORD</label>
				<input type="password" id="pw" name="secret" ng-model="user.secret"  required/>
				<span ng-show="userForm.secret.$error.required && userForm.secret.$touched" class="error-messages" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
				</md-input-container>
				</div>
				<div layout-gt-sm="row">
					<input type="button" class="login-btn" value="SignIn" ng-click="login()" ng-disabled="!userForm.$valid">
				    <md-tooltip>
				    	<span ng-show="!userForm.$valid">Fill UserName & Password</span>
				    	<span ng-show="userForm.$valid">SignIn</span>
				  	</md-tooltip>
		  		</div>
		  		<div layout-gt-sm="row">
		  			<a href="#resetpassword" translate>usrmgt.change_password.label.forgot_password</a>
		  		</div>
		</form>
	</div>
</div>
</section>
<!-- /container -->