<header id="topnav"
	class="navbar navbar-default navbar-fixed-top main-header"
	role="banner" ng-controller="HeaderController as app" ng-init="fn_load()">
    <!-- Logo -->
    <a href="../../index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>R</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Rubber</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" id="col-exp-Btn"> 
      </a>
     <div class="navbar-custom-header" >
     <h5 class=" md-headline-title" ng-bind="title" style="max-height:32px;display:inline-block;
    width:400px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;"></h5>
     
 </div>
 
     	<!--menu items-->
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<!-- Messages: style can be found in dropdown.less-->
				<!-- Notifications: style can be found in dropdown.less -->
				<!-- Tasks: style can be found in dropdown.less -->
				<!-- Tasks: style can be found in dropdown.less -->
					<!-- contact page -->
				<!-- User Account: style can be found in dropdown.less -->
				
				<li class="dropdown user user-menu" ng-show="userDTO" style="padding-top:9px;"><md-button class="md-icon-button" data-toggle="dropdown" aria-expanded="false" > 
				<img src="assets/app/images/avatar_2x.png" class="user-image"
						alt="User Image"> <span class="hidden-xs">						
							{{userDTO.userFullName}}
						</span></md-button>
				
					<ul class="dropdown-menu">
						<!-- User image -->
						<li class="user-header"><img
							src="assets/app/images/avatar_2x.png" class="img-circle"
							alt="User Image">
							<p>{{userDTO.userFullName}}</p></li>
							
						<!-- Menu Footer-->
						<li class="user-footer">
							<div class="pull-left">
								<a href="#myprofile" class="btn btn-primary">Profile</a>
							</div>
							<div class="pull-right">
								<a href="#changepassword" class="btn btn-primary">Change password</a>
							</div>
							
						</li>
						<li class="user-footer">
							<div class="pull-right">
								<a ng-click="logout()" class="btn btn-primary">Sign out</a>
							</div>
						</li>
						
					</ul></li>			
			</ul>
		</div>
		
		<div class="navbar-custom-menu" id="usermodules">
		<ul class="nav navbar-nav">
		<li id="usermodules" class="dropdown tasks-menu" style="padding-top:10px;">
					<md-button class="md-icon-button" data-toggle="dropdown" aria-expanded="false" >
					<md-icon md-svg-src="assets/app/styles/_/images/icons/ic_apps_black_18px.svg"></md-icon>
					</md-button>
					<ul class="dropdown-menu">
              <li class="header" align="center"><b>User Modules</b></li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- Task item -->
                   <a href="#">
                      <i class="fa fa-users text-aqua"></i> <p>
						    <a href="javascript:void(0)" ng-click="setLang('en_US')">en</a>
						    |
						    <a href="javascript:void(0)" ng-click="setLang('si_LK')">si</a>
						  </p>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                   <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                   <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                   <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <!-- end task item -->
                   <li><!-- Task item -->
                   <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
					</li>	
		</ul>
		</div>

		 <div class="navbar-custom-menu" id="mainheadermenu">
		<ul class="nav navbar-nav">
		<li>
<!-- 		//find icons at https://design.google.com/icons/ -->
  			<div class="lock-size" layout="row" layout-align="right right" style="padding-top: 5px; padding-right:10px;">	
<!-- 		        <md-fab-speed-dial md-open="true" md-direction="left" class="md-fling" > -->
<!-- 		        <md-fab-trigger> -->
<!-- 		          <md-button ng-show="showMenu" aria-label="Menu" class="md-fab md-raised md-mini"> -->
<!-- 		          	<md-tooltip> -->
<!-- 				    	<span translate>common.button.text.ACTIONS</span> -->
<!-- 				  	</md-tooltip> -->
<!-- 		            <md-icon md-svg-src="assets/app/styles/_/images/icons/ic_more_horiz_black_24px.svg"></md-icon> -->
<!-- 		          </md-button> -->
<!-- 		        </md-fab-trigger> -->
<!-- 		        <md-fab-actions> -->
<!-- 		        </md-fab-actions> -->
<!-- 		      </md-fab-speed-dial> -->

		  <input type="hidden" ng-model="formKey" style="display: none;"/>
		  <md-button ng-show="showSave"   aria-label="Save" class="md-fab md-raised md-mini" ng-click="publishSaveEvent()">
           	<md-tooltip>
		    	<span translate>common.button.text.SAVE</span>
		   	</md-tooltip>
            <md-icon md-svg-src="assets/app/styles/_/images/icons/ic_save_black_24px.svg"></md-icon>
          </md-button>
			  <md-button ng-show="showAddNew"   aria-label="Add New" class="md-fab md-raised md-mini" ng-click="publishAddNewItemEvent()">
            <md-tooltip>
		    	<span translate>common.button.text.ADD_NEW</span>
		  	</md-tooltip>
            <md-icon md-svg-src="assets/app/styles/_/images/icons/ic_add_circle_black_24px.svg"></md-icon>
          </md-button>
          <md-button ng-show="showEdit" aria-label="Edit" class="md-fab md-raised md-mini" ng-click="publishEditEvent()">
          	<md-tooltip>
		    	<span translate>common.button.text.EDIT</span>
		  	</md-tooltip>
            <md-icon md-svg-src="assets/app/styles/_/images/icons/ic_mode_edit_black_24px.svg"></md-icon>
          </md-button>
          <md-button ng-show="showSearch" aria-label="Search" class="md-fab md-raised md-mini" ng-click="displySearch($event)">
            <md-tooltip>
		    	<span translate>common.button.text.SEARCH</span>
		  	</md-tooltip>
            <md-icon md-svg-src="assets/app/styles/_/images/icons/ic_search_black_24px.svg"></md-icon>
          </md-button>
          <md-button ng-show="showPrevious" aria-label="Back" class="md-fab md-raised md-mini" ng-click="publishPreviousEvent()">
          	<md-tooltip>
		    	<span translate>common.button.text.PREVIOUS</span>
		  	</md-tooltip>
            <md-icon md-svg-src="assets/app/styles/_/images/icons/ic_navigate_before_black_24px.svg"></md-icon>
          </md-button>
          <md-button ng-show="showNext" aria-label="Next" class="md-fab md-raised md-mini" ng-click="publishNextEvent()">
          	<md-tooltip>
		    	<span translate>common.button.text.NEXT</span>
		  	</md-tooltip>
            <md-icon md-svg-src="assets/app/styles/_/images/icons/ic_navigate_next_black_24px.svg"></md-icon>
          </md-button>
          <md-button ng-show="showCopy" aria-label="Copy" class="md-fab md-raised md-mini"  ng-click="publishCopyEvent()">
           <md-tooltip>
		    	<span translate>common.button.text.COPY</span>
		  	</md-tooltip>
            <md-icon md-svg-src="assets/app/styles/_/images/icons/ic_content_copy_black_24px.svg"></md-icon>
          </md-button>
          <md-button ng-show="showPrint" aria-label="Print" class="md-fab md-raised md-mini" ng-click="publishPrintEvent()">
          	<md-tooltip>
		    	<span translate>common.button.text.PRINT</span>
		  	</md-tooltip>
            <md-icon md-svg-src="assets/app/styles/_/images/icons/ic_print_black_24px.svg"></md-icon>
          </md-button>
          <md-button ng-show="showCancel"   aria-label="Cancel" class="md-fab md-raised md-mini" ng-click="publishCancelEvent()">
            <md-tooltip>
		    	<span translate>common.button.text.CANCEL</span>
		  	</md-tooltip>
            <md-icon md-svg-src="assets/app/styles/_/images/icons/ic_cancel_black_24px.svg"></md-icon>
          </md-button>
		          
</div>
		</li>
		</ul>
		</div>
		<!--end of menu items-->
		
    </nav>
  </header>