 <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Edit Age Group
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Edit Age Group</li>
      </ol>
    </section>

 			<!-- Main content -->
    <section class="content">

	  <div class="box box-primary" ng-cloak class="md-inline-form" ng-controller="EditAgeGroupController" ng-init="initializeAgeGroupPage()">
	
		<form name="ageGroupSetupForm" id="ageGroupSetupForm">
			<md-content layout-padding>	
		        <div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>
			           	<label translate>From Age</label>
			           	<input ng-model="ageGroupUpdateRequest.fromAge" name="fromAge" type="number" step="any" min="1"
                              max="120" required />
			           	<span ng-show="ageGroupSetupForm.fromAge.$dirty"> 
							<span ng-show="ageGroupSetupForm.fromAge.$error.required">
								<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
							</span>
							<span ng-show="ageGroupSetupForm.fromAge.$error['max']">
								<span class="md-input-validation-message" translate>Age must be less than 100!</span>
							</span>	
							<span ng-show="ageGroupSetupForm.fromAge.$error['min']">
								<span class="md-input-validation-message" translate>Age must be greater than 1!</span>
							</span>					
						</span>			       
			         </md-input-container>
			   </div>
			   <div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>
			           	<label translate>To Age</label>
			           	<input ng-model="ageGroupUpdateRequest.toAge" name="toAge" type="number" step="any" min="1"
                              max="100" required />
			           	<span ng-show="ageGroupSetupForm.toAge.$dirty"> 
							<span ng-show="ageGroupSetupForm.toAge.$error.required">
								<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
							</span>
							<span ng-show="ageGroupSetupForm.toAge.$error['max']">
								<span class="md-input-validation-message" translate>Age must be less than 100!</span>
							</span>	
							<span ng-show="ageGroupSetupForm.toAge.$error['min']">
								<span class="md-input-validation-message" translate>Age must be greater than 1!</span>
							</span>					
						</span>			       
			         </md-input-container>
		        </div>
		        
		        
		        <div layout-gt-sm="row">
		        	<md-button class="md-raised md-warn" ng-click="exitForm()">Exit</md-button>
		        	<md-button class="md-raised md-warn" ng-click="resetForm()">Reset</md-button>
		        	<md-button class="md-raised md-primary" ng-click="updateAgeGroup()">Update</md-button>
		        </div>
		        
		        
	        </md-content>
       	</form>
	</div>

    </section>
<!-- /.content -->