 <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Category Setup
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Category Setup</li>
      </ol>
    </section>

 			<!-- Main content -->
    <section class="content">

	  <div class="box box-primary" ng-cloak class="md-inline-form" ng-controller="CategorySetupController" ng-init="initializeCategorySetupController()">
	
		<form name="categorySetupForm" id="categorySetupForm">
			<md-content layout-padding>	
			   <div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>
			           	<label translate>Event Name</label>
			           	<md-select ng-model="categoryCreationRequest.eventName" required>
						    <md-option ng-value="{{eventSetup.eventId}}" ng-repeat="eventSetup in eventSetups">{{ eventSetup.eventName }}</md-option>
						</md-select>
			           	<span ng-show="categorySetupForm.eventName.$dirty"> 
							<span ng-show="categorySetupForm.eventName.$error.required">
								<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
							</span>
						</span>			       
			         </md-input-container>
		        </div>		
				<div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>
			           	<label translate>Event Type</label>
			           	<input ng-model="categoryCreationRequest.eventType" name="eventType" md-maxlength="240" required />
			           	<span ng-show="categorySetupForm.eventType.$dirty"> 
							<span ng-show="categorySetupForm.eventType.$error.required">
								<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
							</span>
							<span ng-show="categorySetupForm.eventType.$error['md-maxlength']">
								<span class="md-input-validation-message" translate>Event type should be less than 240 characters long!</span>
							</span>					
						</span>			       
			         </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>
			           	<label translate>Age Group</label>
			           	<input ng-model="categoryCreationRequest.ageGroup" name="ageGroup" md-maxlength="20" required />
			           	<span ng-show="categorySetupForm.ageGroup.$dirty"> 
							<span ng-show="categorySetupForm.ageGroup.$error.required">
								<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
							</span>
							<span ng-show="categorySetupForm.ageGroup.$error['md-maxlength']">
								<span class="md-input-validation-message" translate>Event type should be less than 240 characters long!</span>
							</span>					
						</span>			       
			         </md-input-container>
		        </div>
		         <div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>
			           	<label translate>Gender</label>
			           	<md-select ng-model="categoryCreationRequest.gender" required>
						    <md-option ng-value="{{gender.genderId}}" ng-repeat="gender in genders">{{ eventSetup.gender }}</md-option>
						</md-select>
			           	<span ng-show="categorySetupForm.gender.$dirty"> 
							<span ng-show="categorySetupForm.gender.$error.required">
								<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
							</span>
						</span>			       
			         </md-input-container>
		        </div>	
		        <div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>
			           	<label translate>Category/Belt</label>
			           	<input ng-model="categoryCreationRequest.categoryName" name="categoryName" md-maxlength="240" required />
			           	<span ng-show="categorySetupForm.categoryName.$dirty"> 
							<span ng-show="categorySetupForm.categoryName.$error.required">
								<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
							</span>
							<span ng-show="categorySetupForm.categoryName.$error['md-maxlength']">
								<span class="md-input-validation-message" translate>Category name should be less than 240 characters long!</span>
							</span>					
						</span>			       
			         </md-input-container>
		        </div>
		        
		        <div layout-gt-sm="row">
		        	<md-button class="md-raised md-warn">Exit</md-button>
		        	<md-button class="md-raised md-warn">Reset</md-button>
		        	<md-button class="md-raised md-primary">Create</md-button>
		        </div>
		        
		        
	        </md-content>
       	</form>
	</div>

    </section>
<!-- /.content -->