 <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Grade Belt Setup
      </h1>
      <ol class="breadcrumb">
        <li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Grade Belt Setup</li>
      </ol>
    </section>

 			<!-- Main content -->
    <section class="content">

	  <div class="box box-primary" ng-cloak class="md-inline-form" ng-controller="AddGradeBeltController" ng-init="initializeGradeBeltPage()">
	
		<form name="gradeBeltSetupForm" id="gradeBeltSetupForm">
			<md-content layout-padding>	
		        <div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>
			           	<label translate>Grade Belt Name</label>
			           	<input ng-model="gradeBeltCreationRequest.gradeBeltName" name="gradeBeltName"  required />
			           	<span ng-show="gradeBeltSetupForm.gradeBeltName.$dirty"> 
							<span ng-show="gradeBeltSetupForm.gradeBeltName.$error.required">
								<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
							</span>
						</span>			       
			         </md-input-container>
			   </div>
		        
		        
		        <div layout-gt-sm="row">
		        	<md-button class="md-raised md-warn" ng-click="exitForm()">Exit</md-button>
		        	<md-button class="md-raised md-warn" ng-click="resetForm()">Reset</md-button>
		        	<md-button class="md-raised md-primary" ng-click="createGradeBelt()">Create</md-button>
		        </div>
		        
		        
	        </md-content>
       	</form>
	</div>

    </section>
<!-- /.content -->