 <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       User Role
      </h1>
      <ol class="breadcrumb">
        <li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">User Role</li>
      </ol>
</section>

<section class="content">    
			
	<div layout="column" ng-cloak class="md-inline-form" ng-controller="AddUserRoleController">
	
		<form name="userRoleForm" id="userRoleForm" ng-submit="submitUserRole()">
		
			<md-content layout-padding>
			
				<div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>
			           	<label translate>usrmgt.user_role.label.USER_ROLE_NAME</label>
			           	<input ng-model="userRoleCreationRequest.userRoleName" name="userRoleName" md-maxlength="240" required />
			           	<span ng-show="userRoleForm.userRoleName.$dirty"> 
							<span ng-show="userRoleForm.userRoleName.$error.required">
								<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
							</span>
							<span ng-show="userRoleForm.userRoleName.$error['md-maxlength']">
								<span class="md-input-validation-message" translate>usrmgt.user_role.validation.message.USER_ROLE_NAME_LENGTH</span>
							</span>					
						</span>			       
			         </md-input-container>
		        </div>
		        
		        <div layout-gt-sm="row">
		        	<md-button class="md-raised md-warn" ng-click="exitForm()">Exit</md-button>
		        	<md-button class="md-raised md-warn" ng-click="resetForm()">Reset</md-button>
		        	<md-button class="md-raised md-primary" ng-click="createUserRole()" >Create</md-button>		        	
		        </div>
		        
		        
		        
	        </md-content>
       		<input type="hidden" ng-model="formKey" />
       	</form>
       	
	</div>

</section>
