<section class="content">    
			
	<div layout="column" ng-cloak class="md-inline-form" ng-controller="EditUserRoleController" ng-init="initializeEditUserRolePage()">
	
		<form name="editUserRoleForm" id="editUserRoleForm">
		
			<md-content layout-padding>
			
				<div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>
			           	<label translate>usrmgt.user_role.label.USER_ROLE_NAME</label>
			           	<input ng-model="userRoleUpdateRequest.userRoleName" name="userRoleName" md-maxlength="240" required />
			           	<span ng-show="editUserRoleForm.userRoleName.$dirty"> 
							<span ng-show="editUserRoleForm.userRoleName.$error.required">
								<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
							</span>
							<span ng-show="editUserRoleForm.userRoleName.$error['md-maxlength']">
								<span class="md-input-validation-message" translate>usrmgt.user_role.validation.message.USER_ROLE_NAME_LENGTH</span>
							</span>					
						</span>			       
			         </md-input-container>
		        </div>
		        
		        <label translate>usrmgt.user_role.label.REMOVE_EXISTING_PERMISSIONS</label>
		        
		        <div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>
				        <md-chips class="custom-chips" ng-model="existingScreenPermissionList" name="existingScreenPermissions" md-chips-disable-input>
					        <md-chip-template>
					          <strong>{{$chip.permissionName}}</strong>
					          <em>({{$chip.permissionCode}})</em>
					        </md-chip-template>
					        <button md-chip-remove class="md-primary vegetablechip">
						        <i class="fa fa-times" style="color:#ffffff;" aria-hidden="true"></i>
						    </button>
					     </md-chips>
			         </md-input-container>
			    </div>
		       
			    	        
		        <label translate>usrmgt.user_role.label.ADD_NEW_PERMISSIONS</label>
		        
		        <div layout-gt-sm="row">
			        <div layout-gt-sm="column">
				         <md-input-container class="md-block" flex-gt-sm>
				           <label translate>usrmgt.user_role.label.application</label>
				           <md-select ng-model="applicationId" id="applicationId" required ng-change="getApplicationModulesByApplicationId()" >
				              <md-option ng-repeat="application in applications" value="{{application.id}}">
				                {{application.applicationName}}
				              </md-option>
				            </md-select>
				            <span ng-show="editUserRoleForm.applicationId.$dirty"> 
								<span ng-show="editUserRoleForm.applicationId.$error.required">
									<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
								</span>
							</span>				       
				         </md-input-container>
			        </div>
			        <div layout-gt-sm="column" ng-show="showApplicationModule">
				         <md-input-container class="md-block" flex-gt-sm>
				           <label translate>usrmgt.user_role.label.application_module</label>
				           <md-select ng-model="applicationModuleId" id="applicationModuleId" ng-change="getApplicationModuleServicesByApplicationModuleId()" >
				              <md-option ng-repeat="applicationModule in applicationModuleList" value="{{applicationModule.id}}">
				                {{applicationModule.applicationModuleName}}
				              </md-option>
				            </md-select>			            		       
				         </md-input-container>
			        </div>
			        <div layout-gt-sm="column" ng-show="showApplicationModuleService">
				         <md-input-container class="md-block" flex-gt-sm>
				           <label translate>usrmgt.user_role.label.application_module_service</label>
				           <md-select ng-model="applicationModuleServiceId" id="applicationModuleServiceId" ng-change="getScreensByApplicationModuleServiceId()" >
				              <md-option ng-repeat="applicationModuleService in applicationModuleServiceList" value="{{applicationModuleService.id}}">
				                {{applicationModuleService.applicationModuleServiceName}}
				              </md-option>
				            </md-select>			            			       
				         </md-input-container>
			        </div>
			        <div layout-gt-sm="row"  ng-show="showScreen">
				         <md-input-container class="md-block" flex-gt-sm >
				           <label translate>usrmgt.user_role.label.screen</label>
				           <md-select ng-model="screenId" id="screenId" ng-change="getActiveScreenPermissionsByScreenId()" >
				              <md-option ng-repeat="screen in screenList" value="{{screen.id}}">
				                {{screen.screenName}}
				              </md-option>
				            </md-select>			            				       
				         </md-input-container>
			        </div>
		        </div> 
			     
			     <div layout-gt-sm="row">
		           <md-whiteframe class="md-whiteframe-3dp" flex-sm="55" flex-gt-sm="45" flex-gt-md="35" layout layout-align="center center">
			           <div layout-gt-sm="column">
				           <section>
					        	<md-subheader class="md-primary"><label translate>usrmgt.security_user.label.text.NEW_PERMISSIONS</label></md-subheader> 
					        	<md-chips ng-model="screenPermissionList" name="screenPermissions" md-on-select="addScreenPermission($chip)" 
					        	      md-removable="false" md-min-chips="1" md-chips-disable-input ng-show="showScreenPermissions">
							        <md-chip-template>
							          <strong>{{$chip.permissionName}}</strong>
							        </md-chip-template>
							    </md-chips>
					        </section>
			           </div>
		           </md-whiteframe>
		           <div layout-gt-sm="column">
			           <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
					      <md-button class="md-raised md-primary" ng-click="addAllToSelected()">
					      		<i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;Add All
					      </md-button>
					      <md-button class="md-raised md-primary" ng-click="removeAllFromSelected()">
					      		<i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;Remove All
					       </md-button>
					    </section>
		           </div>
		           <md-whiteframe class="md-whiteframe-3dp" flex-sm="55" flex-gt-sm="45" flex-gt-md="35" layout layout-align="center center">
			           <div layout-gt-sm="column">
				           <section>
					        	<md-subheader class="md-primary"><label translate>usrmgt.security_user.label.text.ASSIGNED_PERMISSIONS</label></md-subheader>  
						          <md-chips ng-model="selectedScreenPermissionList" name="selectedScreenPermission" 
						             class="custom-chips"
						             md-on-remove="removeScreenPermission($chip)"
						             md-chips-disable-input ng-show="showSelectedScreenPermissions">
							        <md-chip-template>
							          <strong>{{$chip.permissionName}}</strong>
							        </md-chip-template>
							        <button md-chip-remove class="md-primary vegetablechip">
								        <i class="fa fa-times" style="color:#ffffff;" aria-hidden="true"></i>
								    </button>
								    
							      </md-chips>
					        </section>
			           </div>
		           </md-whiteframe>
		        </div>
			      
			    
			    
		        
		        
	        </md-content>
       		<input type="hidden" ng-model="formKey" />
       	</form>
       	
	</div>

</section>
