 <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Event Setup
      </h1>
      <ol class="breadcrumb">
        <li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Event Setup</li>
      </ol>
    </section>

 			<!-- Main content -->
    <section class="content">

	  <div class="box box-primary" ng-cloak class="md-inline-form" ng-controller="EventSetupController" ng-init="initializeEventSetupController()">
	
		<form name="eventSetupForm" id="eventSetupForm">
		
			<md-content layout-padding>			
				<div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>
			           	<label translate>Name Of the Event</label>
			           	<input ng-model="eventCreationRequest.eventName" name="eventName" md-maxlength="240" required />
			           	<span ng-show="eventSetupForm.eventName.$dirty"> 
							<span ng-show="eventSetupForm.eventName.$error.required">
								<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
							</span>
							<span ng-show="eventSetupForm.eventName.$error['md-maxlength']">
								<span class="md-input-validation-message" translate>Event name should be less than 240 characters long!</span>
							</span>					
						</span>			       
			         </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>
			           	<label translate>Date Of the Event</label>
			           	
			           	<input time="false" date="true" mdc-datetime-picker="" type="text" id="eventDate" placeholder="Enter Event date"
							ng-model="eventCreationRequest.eventDate" 
							min-date="minDate" max-date="maxDate" class=" md-input"
							format="MM/DD/YYYY">
			           	
			           	<span ng-show="eventSetupForm.eventDate.$dirty">
			           		<span ng-show="eventSetupForm.eventDate.$error.valid">
								<span class="md-input-validation-message" translate>The entered value is not a date!</span>
							</span>			           	 
							<span ng-show="eventSetupForm.eventDate.$error.required">
								<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
							</span>
							<span ng-show="eventSetupForm.eventDate.$error.mindate">
								<span class="md-input-validation-message" translate>Date is too early!</span>
							</span>	
							<span ng-show="eventSetupForm.eventDate.$error.maxdate">
								<span class="md-input-validation-message" translate>Date is too late!</span>
							</span>	
							<span ng-show="eventSetupForm.eventDate.$error['md-maxlength']">
								<span class="md-input-validation-message" translate>Event name should be less than 240 characters long!</span>
							</span>					
						</span>			       
			         </md-input-container>
			         <md-input-container  class="md-block" flex-gt-sm>
				        <label>Time of the Event</label>
				        <input mdc-datetime-picker date="false" time="true" type="text" id="eventTime" short-time="true"
				               placeholder="Event Time"
				               min-date="minDate"
				               format="hh:mm a"
				               ng-model="eventTime" required>	
				         <span ng-show="eventSetupForm.eventTime.$dirty">
							<span ng-show="eventSetupForm.eventTime.$error.required">
								<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
							</span>
						</span>	   
				    </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>
			           	<label translate>Venue Of the Event</label>
			           	<input ng-model="eventCreationRequest.eventVenue" name="eventVenue" md-maxlength="240" required />
			           	<span ng-show="eventSetupForm.eventVenue.$dirty"> 
							<span ng-show="eventSetupForm.eventVenue.$error.required">
								<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
							</span>
							<span ng-show="eventSetupForm.eventVenue.$error['md-maxlength']">
								<span class="md-input-validation-message" translate>Event name should be less than 240 characters long!</span>
							</span>					
						</span>			       
			         </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>
			           	<label translate>Days of the Game</label>
			           	<input ng-model="eventCreationRequest.daysOfGame" name="daysOfGame" md-maxlength="3" required />
			           	<span ng-show="eventSetupForm.daysOfGame.$dirty"> 
							<span ng-show="eventSetupForm.daysOfGame.$error.required">
								<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
							</span>
							<span ng-show="eventSetupForm.daysOfGame.$error['md-maxlength']">
								<span class="md-input-validation-message" translate>Event name should be less than 240 characters long!</span>
							</span>					
						</span>			       
			         </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
			         <md-input-container class="md-block" flex-gt-sm>			           	
			           	<md-switch ng-model="eventCreationRequest.recordStatus" aria-label="Active Status"  
			           	    ng-true-value="'N'" ng-false-value="'A'" class="md-warn" ng-change="setValueRecordStatus(eventCreationRequest.recordStatus)">
			           	   <label translate>Active Status : {{activeStatus}}</label>
			           	</md-switch>
			         </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
		        	<md-button class="md-raised md-warn" ng-click="exitForm()">Exit</md-button>
		        	<md-button class="md-raised md-warn" ng-click="resetForm()">Reset</md-button>
		        	<md-button class="md-raised md-primary" ng-click="createEvent()" >Create</md-button>		        	
		        </div>
		        
		        
	        </md-content>
       	</form>
	</div>

    </section>
<!-- /.content -->