<section class="content">
	<div class="login-box" ng-controller="ResetPasswordController" style="width: 500px;background-color: #fff;padding:15px 10px;border:5px solid #333;">
	  <div class="login-logo" style="margin-bottom: 15px;font-size: 30px;">
	    <b><label translate>usrmgt.reset_password.label.reset_password</label></b>
	  </div>
	  <!-- /.login-logo -->
	  <div class="login-box-body" style="background-color: #fff;padding:2px 20px;">
	   <form role="form" name="resetPwForm" id="login-form" onsubmit="return false" novalidate>
	      <div class="form-group has-feedback">
	        <md-input-container class="md-block" flex-gt-sm>
	           	<label translate>usrmgt.reset_password.label.user_name</label>
	           	<input ng-model="resetPasswordRequest.userName" name="userName" required />
	           	<span ng-show="resetPwForm.userName.$dirty"> 
					<span ng-show="resetPwForm.userName.$error.required">
						<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
					</span>
				</span>			       
	         </md-input-container>
	      </div>
	      <div class="form-group has-feedback">
	         <md-input-container class="md-block" flex-gt-sm>
	           	<label translate>usrmgt.reset_password.label.email</label>
	           	<input ng-model="resetPasswordRequest.email" name="email" required ng-pattern="/^.+@.+\..+$/" />
	           	<span ng-show="resetPwForm.email.$dirty"> 
					<span ng-show="resetPwForm.email.$error.required">
						<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
					</span>
					<span ng-show="resetPwForm.email.$error['pattern']">
						<span class="md-input-validation-message" translate>usrmgt.security_user.validation.message.EMAIL_FORMAT</span>
					</span>	
									
				</span>	
	         </md-input-container>
	      </div>
	       <div class="form-group has-feedback">
	        	<md-input-container class="md-block" flex-gt-sm>
		           	<div captcha options="captchaOptions"></div>	       
		         </md-input-container>
	       </div>
	      <div class="row">
			  	<input type="button" class="btn btn-block btn-primary" value="Reset Password" ng-click="resetPassword()" ng-disabled="!resetPwForm.$valid">
			    <md-tooltip>
			    	<span ng-show="!resetPwForm.$valid">Fill user name and email!</span>
			    	<span ng-show="resetPwForm.$valid">Reset Password</span>
		  		</md-tooltip>
		  		<input type="button" class="btn btn-block btn-primary" value="Cancel" ng-click="cancel()" />
	      </div>	     
	    </form>
	  </div>
	  <!-- /.login-box-body -->
	</div>
<!-- /.login-box -->
</section>