<section class="content">
	<div class="login-box" ng-controller="SignInController" style="background-color: #fff;padding:15px 10px;border:5px solid #333;">
	  <div class="login-logo" style="margin-bottom: 15px;font-size: 30px;">
	    <a href="javascript:void(0)"><b>Sports</b>Man</a>
	  </div>
	  <!-- /.login-logo -->
	  <div class="login-box-body" style="background-color: #fff;padding:2px 20px;">
	    <p class="login-box-msg">Sign in to start your session</p>
	
	    <form role="form" name="userForm" id="login-form" onsubmit="return false" novalidate>
	      <div class="form-group has-feedback">
	         <md-input-container class="md-block" flex-gt-sm>
	           	<label translate>usrmgt.sign_in.label.USERNAME</label>
	           	<input type="text" ng-model="user.userName" name="userName" required />
				  <span ng-show="userForm.userName.$error.required && userForm.userName.$touched"class="error-messages" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
	         </md-input-container>
	      </div>
	      <div class="form-group has-feedback">
	        <md-input-container class="md-block" flex-gt-sm>  
				<label translate>usrmgt.sign_in.label.PASSWORD</label>
				<input type="password" id="pw" name="secret" ng-model="user.secret"  required/>
				<span ng-show="userForm.secret.$error.required && userForm.secret.$touched" class="error-messages" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
			</md-input-container>
	      </div>
	      <div class="row">
	          <input type="button" class="btn btn-block btn-primary" value="SignIn" ng-click="login()" ng-disabled="!userForm.$valid">
			    <md-tooltip>
			    	<span ng-show="!userForm.$valid">Fill UserName & Password</span>
			    	<span ng-show="userForm.$valid">SignIn</span>
			  	</md-tooltip>
	      </div>
	    </form>
		<div class="row">			
		    <a href="#resetpassword">I forgot my password</a><br>
		</div>
	  </div>
	  <!-- /.login-box-body -->
	</div>
<!-- /.login-box -->
</section>