<section class="content">    
			
	<div layout="column" ng-cloak class="md-inline-form" ng-controller="UpdatePermissionsOfUserController as ctrl" ng-init="initializeUserPermissionPage()">
	
		<form name="userPermissionForm" id="userPermissionForm" ng-submit="submitUserRole()">
		
			<md-content layout-padding>
		        <div layout-gt-sm="row">
		           <div layout-gt-sm="column">
				         <md-input-container class="md-block" flex-gt-sm>
				           <label translate>usrmgt.user_role.label.application</label>
				           <md-select ng-model="applicationId" id="applicationId" required ng-change="getApplicationModulesByApplicationId()" >
				              <md-option ng-repeat="application in applications" value="{{application.id}}">
				                {{application.applicationName}}
				              </md-option>
				            </md-select>
				            <span ng-show="userPermissionForm.applicationId.$dirty"> 
								<span ng-show="userPermissionForm.applicationId.$error.required">
									<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
								</span>
							</span>				       
				         </md-input-container>
			        </div>
			        <div>&nbsp;&nbsp;&nbsp;</div>
			        <div layout-gt-sm="column" ng-show="showApplicationModule">
				         <md-input-container class="md-block" flex-gt-sm>
				           <label translate>usrmgt.user_role.label.application_module</label>
				           <md-select ng-model="applicationModuleId" id="applicationModuleId" ng-change="getApplicationModuleServicesByApplicationModuleId()" >
				              <md-option ng-repeat="applicationModule in applicationModuleList" value="{{applicationModule.id}}">
				                {{applicationModule.applicationModuleName}}
				              </md-option>
				            </md-select>			            		       
				         </md-input-container>
			        </div>
			        <div>&nbsp;&nbsp;&nbsp;</div>
			        <div layout-gt-sm="column">
				         <md-input-container class="md-block" flex-gt-sm ng-show="showApplicationModuleService">
				           <label translate>usrmgt.user_role.label.application_module_service</label>
				           <md-select ng-model="applicationModuleServiceId" id="applicationModuleServiceId" ng-change="getScreensByApplicationModuleServiceId()" >
				              <md-option ng-repeat="applicationModuleService in applicationModuleServiceList" value="{{applicationModuleService.id}}">
				                {{applicationModuleService.applicationModuleServiceName}}
				              </md-option>
				            </md-select>			            			       
				         </md-input-container>
			        </div>
			        <div>&nbsp;&nbsp;&nbsp;</div>
			        <div layout-gt-sm="column"  ng-show="showScreen">
				         <md-input-container class="md-block" flex-gt-sm >
				           <label translate>usrmgt.user_role.label.screen</label>
				           <md-select ng-model="screenId" id="screenId" ng-change="getActiveScreenPermissionsByScreenId()" >
				              <md-option ng-repeat="screen in screenList" value="{{screen.id}}">
				                {{screen.screenName}}
				              </md-option>
				            </md-select>			            				       
				         </md-input-container>
			        </div>
		        </div>
		        
		        <div layout-gt-sm="row">
		           <md-whiteframe class="md-whiteframe-3dp" flex-sm="55" flex-gt-sm="45" flex-gt-md="35" layout layout-align="center center">
			           <div layout-gt-sm="column">
				           <section>
					        	<md-subheader class="md-primary"><label translate>usrmgt.security_user.label.text.NEW_PERMISSIONS</label></md-subheader> 
					        	<md-chips ng-model="screenPermissionList" name="screenPermissions" md-on-select="addScreenPermission($chip)" 
					        	      md-removable="false" md-min-chips="1" md-chips-disable-input ng-show="showScreenPermissions">
							        <md-chip-template>
							          <strong>{{$chip.permissionName}}</strong>
							        </md-chip-template>
							    </md-chips>
					        </section>
			           </div>
		           </md-whiteframe>
		           <div layout-gt-sm="column">
			           <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
					      <md-button class="md-raised md-primary" ng-click="addAllToSelected()">
					      		<i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;Add All
					      </md-button>
					      <md-button class="md-raised md-primary" ng-click="removeAllFromSelected()">
					      		<i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;Remove All
					       </md-button>
					    </section>
		           </div>
		           <md-whiteframe class="md-whiteframe-3dp" flex-sm="55" flex-gt-sm="45" flex-gt-md="35" layout layout-align="center center">
			           <div layout-gt-sm="column">
				           <section>
					        	<md-subheader class="md-primary"><label translate>usrmgt.security_user.label.text.ASSIGNED_PERMISSIONS</label></md-subheader>  
						          <md-chips ng-model="selectedScreenPermissionList" name="selectedScreenPermission" 
						             class="custom-chips"
						             md-on-remove="removeScreenPermission($chip)"
						             md-min-chips="1" md-chips-disable-input ng-show="showSelectedScreenPermissions">
							        <md-chip-template>
							          <strong>{{$chip.permissionName}}</strong>
							        </md-chip-template>
							        <button md-chip-remove class="md-primary vegetablechip">
								        <i class="fa fa-times" style="color:#ffffff;" aria-hidden="true"></i>
								    </button>
								    
							      </md-chips>
							      <span ng-show="userPermissionForm.selectedScreenPermission.$dirty"> 
									<span ng-show="userPermissionForm.selectedScreenPermission.$error.md-min-chips">
										<span class="md-input-validation-message" translate>usrmgt.user_role.validation.message.SCREEN_PERMISSION</span>
									</span>
								 </span>
					        </section>
			           </div>
		           </md-whiteframe>
		        </div>
			    
		        
		        
	        </md-content>
       		<input type="hidden" ng-model="formKey" />
       	</form>
       	
	</div>

</section>
