 <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Update Security User
      </h1>
      <ol class="breadcrumb">
        <li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Update Security User</li>
      </ol>
</section>

<section class="content">    
			
	<div layout="column" ng-cloak class="md-inline-form" ng-controller="EditSecurityUserController" ng-init="initializeEditSecurityUserPage()">
	
		<form name="editSecurityUserForm" id="editSecurityUserForm" ng-submit="submitSecurityUserForm()">
		
			<md-content layout-padding>
				<section>
      				<md-subheader class="md-primary"><span translate>usrmgt.security_user.label.PERSONAL_DETAILS</span></md-subheader>      
					<div layout-gt-sm="row">
				         <md-input-container class="md-block" flex-gt-sm>
				           	<label translate>usrmgt.security_user.label.FULL_NAME</label>
				           	<md-icon><i class="fa fa-user" aria-hidden="true"></i></md-icon>
				           	<input ng-model="securityUserUpdateRequest.fullName" name="fullName" md-maxlength="240" required />
				           	<span ng-show="editSecurityUserForm.fullName.$dirty"> 
								<span ng-show="editSecurityUserForm.fullName.$error.required">
									<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
								</span>
								<span ng-show="editSecurityUserForm.fullName.$error['md-maxlength']">
									<span class="md-input-validation-message" translate>usrmgt.security_user.validation.message.FULL_NAME_LENGTH</span>
								</span>					
							</span>	
							<div ng-messages="securityUserUpdateRequest.fullName.$error">
					          <div ng-message="required">This is required.</div>
					          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
					        </div>			       
				         </md-input-container>
			        </div>
			        <div layout-gt-sm="row">
				         <md-input-container class="md-block" flex-gt-sm>
				           	<label translate>usrmgt.security_user.label.EMAIL</label>
				           	<md-icon><i class="fa fa-envelope" aria-hidden="true"></i></md-icon>
				           	<input ng-model="securityUserUpdateRequest.email" name="email" md-maxlength="100" required ng-pattern="/^.+@.+\..+$/" />
				           	<span ng-show="editSecurityUserForm.email.$dirty"> 
								<span ng-show="editSecurityUserForm.email.$error.required">
									<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
								</span>
								<span ng-show="editSecurityUserForm.email.$error['md-maxlength']">
									<span class="md-input-validation-message" translate>usrmgt.security_user.validation.message.EMAIL_LENGTH</span>
								</span>	
								<span ng-show="editSecurityUserForm.email.$error['pattern']">
									<span class="md-input-validation-message" translate>usrmgt.security_user.validation.message.EMAIL_FORMAT</span>
								</span>	
												
							</span>	
				         </md-input-container>
			        </div>
			        <div layout-gt-sm="row">
				         <md-input-container class="md-block" flex-gt-sm>
				           	<label translate>usrmgt.security_user.label.NIC</label>
				           	<md-icon><i class="fa fa-info" aria-hidden="true"></i></md-icon>
				           	<input ng-model="securityUserUpdateRequest.nic" name="nic" md-minlength="10" md-maxlength="12" required />
				           	<span ng-show="editSecurityUserForm.nic.$dirty"> 
								<span ng-show="editSecurityUserForm.nic.$error.required">
									<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
								</span>
								<span ng-show="editSecurityUserForm.nic.$error['md-maxlength']">
									<span class="md-input-validation-message" translate>usrmgt.security_user.validation.message.NIC_MAX_LENGTH</span>
								</span>	
								<span ng-show="editSecurityUserForm.nic.$error['md-minlength']">
									<span class="md-input-validation-message" translate>usrmgt.security_user.validation.message.NIC_MIN_LENGTH</span>
								</span>					
							</span>			       
				         </md-input-container>
			        </div>
			        <div layout-gt-sm="row">
				         <md-input-container class="md-block" flex-gt-sm>
				           	<label translate>usrmgt.security_user.label.MOBILE_NUMBER</label>
				           	<md-icon><i class="fa fa-mobile" aria-hidden="true"></i></md-icon>
				           	<input ng-model="securityUserUpdateRequest.mobileNumber" name="mobileNumber" md-maxlength="10" required />
				           	<span ng-show="editSecurityUserForm.mobileNumber.$dirty"> 
								<span ng-show="editSecurityUserForm.mobileNumber.$error.required">
									<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
								</span>
								<span ng-show="editSecurityUserForm.mobileNumber.$error['md-maxlength']">
									<span class="md-input-validation-message" translate>usrmgt.security_user.validation.message.MOBILE_NUMBER_MAX_LENGTH</span>
								</span>					
							</span>			       
				         </md-input-container>
			        </div>
			        <div layout-gt-sm="row">
				         <md-input-container class="md-block" flex-gt-sm>
				           	<label translate>usrmgt.security_user.label.ADDRESS</label>
				           	<md-icon><i class="fa fa-home" aria-hidden="true"></i></md-icon>
				           	<textarea ng-model="securityUserUpdateRequest.address" name="address"  md-maxlength="240" rows="5" md-select-on-focus required></textarea>
				           	<span ng-show="editSecurityUserForm.address.$dirty"> 
								<span ng-show="editSecurityUserForm.address.$error.required">
									<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
								</span>
								<span ng-show="editSecurityUserForm.address.$error['md-maxlength']">
									<span class="md-input-validation-message" translate>usrmgt.security_user.validation.message.ADDRESS_LENGTH</span>
								</span>					
							</span>			       
				         </md-input-container>
			        </div>
			    </section>
		        <section>
		        	<md-subheader class="md-primary"><span translate>usrmgt.security_user.label.LOGIN_DETAILS</span></md-subheader>  
		        	<div layout-gt-sm="row">
				         <md-input-container class="md-block" flex-gt-sm>
				           	<label translate>usrmgt.security_user.label.USER_NAME</label>
				           	<md-icon><i class="fa fa-sign-in" aria-hidden="true"></i></md-icon>
				           	<input ng-model="securityUserUpdateRequest.userName" name="userName" minlength="8"  md-maxlength="30" required />
				           	<span ng-show="editSecurityUserForm.userName.$dirty"> 
								<span ng-show="editSecurityUserForm.userName.$error.required">
									<span class="md-input-validation-message" translate>common.validation.message.THIS_FIELD_IS_REQUIRED</span>
								</span>
								<span ng-show="editSecurityUserForm.userName.$error['minlength']">
									<span class="md-input-validation-message" translate>usrmgt.security_user.validation.message.USER_NAME_LENGTH</span>
								</span>
								<span ng-show="editSecurityUserForm.userName.$error['md-maxlength']">
									<span class="md-input-validation-message" translate>usrmgt.security_user.validation.message.USER_NAME_LENGTH</span>
								</span>					
							</span>			       
				         </md-input-container>
				     </div>				     
		        </section>
		         <section>
		          <div layout-gt-sm="row">
		        	<md-button class="md-raised md-warn" ng-click="exitForm()">Exit</md-button>
		        	<md-button class="md-raised md-warn" ng-click="resetForm()">Reset</md-button>
		        	<md-button class="md-raised md-primary" ng-click="listenerSaveClicked()" >Update</md-button>		        	
		        </div>
		         </section>
	        </md-content>
       		<input type="hidden" ng-model="formKey" />
       	</form>
       	
	</div>

</section>
